### 목차 
 - SQLite 사용 방법 익히기 및 파이썬에서 SQLite실행 시키기 
 - import sqlite3 및 cur 사용방법

In [ ]:
import sqlite3

conn = sqlite3.connect('chinook.db') #connect 구분의 return값으로 db와의 연결을 의미함. 
cur = conn.cursor()


strSQL = "select * from customers"

cur.execute(strSQL)
results = cur.fetchall()

for row in results:
    print(row)

conn.close()

In [ ]:
import sqlite3

conn = sqlite3.connect('chinook.db')

results= conn.execute("select * from customers")

for row in results:
    print(row)

conn.close()

In [ ]:

import sqlite3

conn = sqlite3.connect('chinook.db') #connect 구분의 return값으로 db와의 연결을 의미함. 
cur = conn.cursor()

strSQL = "select customerid, firstname, lastname "
strSQL = strSQL + "from customers "
strSQL = strSQL + " where customerid in (1,2,3) "

print( strSQL )

cur.execute(strSQL)


results = cur.fetchall()
print(results)


for result in results:
    print(result)

conn.close()

In [ ]:
import sqlite3


LastNameToFind = input()

 
conn = sqlite3.connect('chinook.db') #connect 구분의 return값으로 db와의 연결을 의미함. 
cur = conn.cursor()

strSQL = "select customerid, firstname, lastname, phone "
strSQL = strSQL + "from customers "
strSQL = strSQL + " where lastname =  '" + LastNameToFind  + "'"

# print( strSQL )

cur.execute(strSQL)

#전체 나열 함수 
results = cur.fetchall() 
print(results)
print(len(results))

# for result in results:
#     print(result)
#     print(len(result))

conn.close()

if len(results) == 0:
    print(LastNameToFind+"의 사람이 존재하지 않습니다.")

In [ ]:
import sqlite3


LastNameToFind = input()
LastNameToFind = LastNameToFind[0].upper() + LastNameToFind[1:].lower()
#LastNameToFind = LastNameToFind.capitalize() #첫글자만 대분자로

 
conn = sqlite3.connect('chinook.db') #connect 구분의 return값으로 db와의 연결을 의미함. 
cur = conn.cursor()

strSQL = "select customerid, firstname, lastname, phone "
strSQL = strSQL + "from customers "
strSQL = strSQL + " where lastname =  '" + LastNameToFind  + "'"

# print( strSQL )

cur.execute(strSQL)

#전체 나열 함수 
results = cur.fetchall() 


if len(results) < 1:
    print(LastNameToFind+"의 사람이 존재하지 않습니다.")
else: 
    for result in results:
        strOutput = "해당 고객의 전화번호는 "
        strOutput = strOutput +  result[3]+ " 입니다."
        print(strOutput)

conn.close()

In [ ]:
a ='hong'
print(a[0])

In [ ]:
s1 = 'blockDMask' 
s2 = s1[0].upper() + s1[1:].lower()
s3 = s1.capitalize()
print(s2)
print(type(s2))
print(s3)

- fetchone vs fetchall() 차이점

In [ ]:
import sqlite3


conn = sqlite3.connect('chinook.db') #connect 구분의 return값으로 db와의 연결을 의미함. 
cur = conn.cursor()

strSQL = "select customerid, firstname, lastname, phone "
strSQL = strSQL + "from customers "
strSQL = strSQL + " where customerid = ? or lastname= ? "  
print( strSQL )

results = cur.execute(strSQL, (1, 'Gruber'))

for result in results:
    print(result)

conn.close()

In [ ]:
import sqlite3 

conn = sqlite3.connect('chinook.db')
cur = conn.cursor()

strSQL = "INSERT INTO dummy_table1 (a,b,c ) values (10,10,20) "
cur.execute(strSQL)

conn.commit()

conn.close()

In [ ]:
import sqlite3 

conn = sqlite3.connect('chinook.db')
cur = conn.cursor()

strSQL = "select * from dummy_table1 "
cur.execute(strSQL)
results = cur.fetchall()

print(results)

for i in range(1):
    print(results[i][1])
    
conn.close()

In [ ]:
results[1][0]

In [ ]:
import sqlite3 

conn = sqlite3.connect('chinook.db')
cur = conn.cursor()
try : 
    strSQL = "INSERT INTO bank_transaction (trans_date, account_id, trans_amount ) values ('2021-06-11 13:00:00', 20210001,10000)"
    cur.execute(strSQL)
    strSQL2 = "INSERT INTO bank_transaction (trans_date, account_id, trans_amount ) values ('2021-06-11 13:00:01', 20210002,10000)"
    cur.execute(strSQL2)
    
    
    strSQL = "INSERT INTO bank_transaction (trans_date, account_id, trans_amount ) values ('2021-06-11 13:01:00', 20210001, -5000)"
    cur.execute(strSQL)
    strSQL2 = "INSERT INTO bank_transaction (trans_date, account_id, trans_amount ) values ('2021-06-11 13:01:01', 20210002, 5000)"
    cur.execute(strSQL2)

    conn.commit()
    
    print('정상적으로 커밋')
except:
    conn.Rollback
    print('error')

conn.close()

In [ ]:
import sqlite3 

conn = sqlite3.connect('chinook.db')
cur = conn.cursor()

strSQL = "select * from bank_transaction "
cur.execute(strSQL)
results = cur.fetchall()

print(results)

for i in range(1):
    print(results[i][1])
    
conn.close()

In [ ]:
import sqlite3 

conn = sqlite3.connect('chinook.db')
cur = conn.cursor()

#계좌 잔고 확인 
strSQL = "select account_id, sum(trans_amount) from bank_transaction group by account_id "
cur.execute(strSQL)
results = cur.fetchall()

print(results)

# for i in range(1):
#     print(results[i][1])

if len(results) <1 :
    print('table is empty')
else:
    for result in results:
    print(results)
    
conn.close()

### 계좌이체 과정을 함수로 만들어 단순화

In [ ]:
#함수 

import  sqlite3

def trans_money(db_cursor, account_id, money_to_trans):
    Is_Successful = False
    
    try:
        strSQL = "INSERT INTO bank_transaction (trans_date, account_id, trans_amount ) " 
        strSQL = strSQL +  "values ('2021-06-11 13:00:00' ," 
        strSQL = strSQL + str(account_id) + ", "
        strSQL = strSQL + str(money_to_trans) + " ) "
        
        print(strSQL)
        
        db_cursor.execute(strSQL)
        Is_Successful = True
    except:
        Is_Successful = False
    
    return Is_Successful


def get_current_balance(db_cursor, account_id):
    strSQL = "SELECT account_id, sum(trans_amount) cur_balance FROM bank_transaction "
    strSQL = strSQL + " WHERE account_id = " + str(account_id)
    strSQL = strSQL + " GROUP BY account_id "
    cur.execute(strSQL)
    
    results = cur.fetchall()
    
    
    cur_balance = results[0][1]
    
    return cur_balance 


#--------------------------------------------------------------------------------------------------------

conn = sqlite3.connect('chinook.db')
cur = conn.cursor()
    

account_id_A = 20210001
account_id_B = 20210002
money_to_trans = 5000;

rtnTransA = trans_money(cur, account_id_A, -money_to_trans)
rtnTransB = trans_money(cur, account_id_B, money_to_trans)

if rtnTransA and rtnTransB:
    conn.commit()
    
    curBalanceA = get_current_balance(cur, account_id_A)    
    print(curBalanceA)
    
    curBalanceB = get_current_balance(cur, account_id_B)    
    print(curBalanceB)
    
else:
    conn.rollback()
    
    
curBalanceA = get_current_balance(cur, account_id_A)
# print(curBalanceA)



conn.close()